.page-title{
    background: url(../images/background/bg_custom.jpg) !important;
    position: relative;    
}
.layer {
    background-color: rgba(225, 243, 206, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
